---
layout: page
title: Staff
description: Meet our team.
permalink: /staff/
menu: true
---
<style type="text/css" media="screen">
.container { 

  overflow-Y: hidden;
  display:flex;
  flex-flow: row wrap;
  justify-content:space-between; 
  
  
}

#celula{
  height: 600px; 
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;


}
ul {

list-style-type: none;

}


  </style>


      <h1>Staff</h1>

    
    <div class="container">  
      {% if pacceiro.funcion=staff %}
      
        {% for pacceiro in site.pacceiros %}
       
      <div id="celula">
          <ul>
              <li><img  src="{{ pacceiro.photo }}" ></li>
              <li>{{ pacceiro.display_name  }}</li>
              <li>{{ pacceiro.funcion }}</li>
              <li>{{ pacceiro.curso }}</li>
          </ul>
      </div>  
     
      {% endfor %}
      {% endif %} 
     
    </div>
   

