---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ site.language }}">
    <head>
            <script>
                    now = new Date
                    if (now.getDay () === 1 )
                    {alert("Hoje célula de web");}
                    else
                    {alert("Hoje também é dia de trabalho, mas pelo menos é final de semana"); }
                    </script>
            
    </head>
    {% include head.html %}
    <body class="main-page has-push-menu">
        {% include svg-icons.html %}
        {% include header.html %}
            <section class="content">
                {{ content }}
            </section>
        {% include footer.html %}
        <script>
            if (window.netlifyIdentity) {
                window.netlifyIdentity.on("init", function(user) {
                    if (!user) {
                        window.netlifyIdentity.on("login", function() {
                            document.location.href = "/admin/";
                        });
                    }
                });
            }
        </script>
    </body>
</html>

